@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
::-webkit-scrollbar {
    width: 0px;
  }

body, div, section, article, header, footer, ul , li ,h1 {
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 29, 29);
}

ol, ul {
    margin: 20px auto;
    list-style: none;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    margin: 0 auto;
}

h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 140%;
    margin: 0 auto;
}

h5 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px auto 0 auto;
}

p {
    color: rgb(194, 194, 194);
}

button {
    color: white;
    background-color: unset;    
}

a {
    color: white;
    text-decoration: none;
}


header {
    margin-top: 10px;
}


/* ------------------------------------------------------ */


.container {
    width: 100%;
    margin: 0 auto;
    padding: 25px 40px;


}

.text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box-container {
    width: 100%;
    margin: 0 auto;
    padding: 25px 40px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.introduce {
    font-size: 18px;
    line-height: 170%;
    margin: 0 50px 0 0;
    width: 300px;
    height: 250px;
}


.objects {
    height: 300px;
}

.year {
    width: 100%;
    color: gray;
    background-color: rgb(29, 29, 29);
    font-size: 18px;
    line-height: 240%;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 30px 40px;
}

.year span {
    margin: 0 15px 0 0;
}

.selected-year {
    color: white;
    font-weight: 700;
    border-bottom: 3px solid white;
}

.figure {
    /* float: left; */
    background-color: blueviolet;
    background-size: cover;
    /* opacity: 0.5; */
    width: 33.333%;
    height: 30vw;
}

.figcaption {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 10px, rgba(0,0,0,0.6) 140px);
    padding: 20px;
    height: 100%;
}

.award {
    background-image: url('./img/award.png');
    height: 30px;
    width: 30px;
    float: right;
    
}

[award-tooltip-text]:hover {
	position: relative;
}

[award-tooltip-text]:hover:after {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);

    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 130%;
    content: attr(award-tooltip-text);

    margin-bottom: 10px;
    top: -100%;
    left: -90px;    
    padding: 7px 12px;
    position: absolute;
    
    /* word-break: keep-all; */
    white-space: nowrap;
    z-index: 9999;
}


.article {
    margin-top: 60px;
    
}

.article-img {
    height: 220px;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    margin: 10px auto;
}

.center {
    text-align: center;
}

.accordion {
    cursor: pointer;
    padding: 0;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panel {
  padding: 0;
  width: 100%;
  max-height: 0;

  font-size: 18px;
  line-height: 150%;

  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel ul {
    padding: 0 0 0 30px;
}

.panel li {
    list-style-type: square;
    
    font-size: 15px;
    line-height: 160%;
}

/* ν‘Έν„° */
.footer {
    background-color: black;
    margin-top: 40px;
    color: white;
    border-bottom: 1px solid white;
}

.footer a {
    color: white;
    font-size: 18px;
    line-height: 170%;
    border-bottom: 1px solid white;
}


/* νμ—… */
.pop-container {
    width: 0%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9999;
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.pop-bg {
    width: 0%;
    height: 100%;

    background-color: black;
    opacity: 1;
    transition: 0.5s;
    overflow: hidden;
}

.pop-text {
    width: 540px;
    margin: 100px auto 0 auto;
    overflow-y: scroll;
}

.temp {
    background-color: teal;
    width: 100%;
    height: 10vh;

}

.widthUp {
    width: 50%;
}

.widthUp2 {
    width: 100%;
}


@media screen and (max-width: 1140px)
{
    .figure {
        float: left;
        background-color: blueviolet;
        background-size: cover;
        /* opacity: 0.5; */
        width: 50%;
        height: 40vw;
    }

    .yearscroll {
        overflow-x: scroll;
        overflow-y: hidden;
        /* white-space: nowrap; */
    }

}


@media screen and (max-width: 780px)
{
    .container {
        width: 100%;
        padding: 15px 15px;
    }

    .box-container {
        width: 100%;
        padding: 15px 15px;
    }

    .year {
        padding: 15px 30px;
    }

    .yearscroll {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    span {
        display: inline-block;
    }

    #tag-canvas {
        width: auto;
    }

    .introduce {
        font-size: 17px;
        line-height: 170%;
        float: left;
        margin: 0;
        width: 100%;
        height: auto;
    }
    
    .objects {
        height: auto;
    }

    .figure {
        float: left;
        background-color: blueviolet;
        background-size: cover;
        /* opacity: 0.5; */
        width: 100%;
        height: 60vw;
    }

    .figcaption {
        padding: 15px;
    }


    h1 {
        font-size: 22px;
        font-weight: 700;
        line-height: 120%;
        margin: 0 auto;
    }



    h3 {
        font-size: 22px;
        font-weight: 700;
        line-height: 140%;
        margin: 0 auto;
    }
    
    h5 {
        font-size: 14px;
        font-weight: 700;
        margin: 10px auto 0 auto;
    }


    .pop-text {
        width: 100vw;
        overflow-x: unset;
        padding: 15px;

    }


    .widthUp {
        width: 100%;
    }
    


}
