@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
::-webkit-scrollbar {
    width: 0px;
  }

body, div, section, article, header, footer, ul , li ,h1 {
    
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDEBEC;
}

ol, ul {
    margin: 20px auto;
    list-style: none;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin: 0 auto;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    margin: 0 auto;
}

h4 {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 140%;
    margin: 0 auto;
}

h5 {
    font-size: 12px;
    font-weight: 300;
    color: gray;
    margin: 0 auto 5px auto;
}

p {
    color: gray;
    font-size: 15px;
    font-weight: 300;
    line-height: 160%;
    margin: 10px auto 0 auto;
}


header {
    margin-top: 10px;
}


/* ------------------------------------------------------ */


.container {
    width: 520px;
    margin: 0 auto;
    padding: 15px 20px;
}

.introduce {
    height: 250px;
}


.objects {
    height: 3000px;
}

.year {
    color: gray;
    background-color: #EDEBEC;
    font-size: 18px;
    position: sticky;
    top: 0;
    padding: 25px 0;
}

.year span {

    margin: 0 15px 0 0;
}

.selected-year {
    color: black;
    font-weight: 700;
    border-bottom: 3px solid black;
}


.article {
    margin-top: 60px;
}

.article-img {
    height: 200px;
    background-size: cover;
    background-repeat:no-repeat;
    margin: 10px auto;
}
ss
.center {
    text-align: center;
}

.accordion {
    cursor: pointer;
    background-color: #EDEBEC;
    width: 100%;
    padding: 0;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panel {
  padding: 0;
  background-color: #EDEBEC;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.footer {
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
}

.footer a {
    color: white;
    border-bottom: 1px solid white;
}

.footer-bold {
    font-weight: 700;
}



.nav-toggle {
    position: fixed;
    z-index: 16;
    top: 20px;
    right: 15px;
    width: 36px;
    height: 36px;
    color: black;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}



@media screen and (max-width: 520px)
{
    .container {
        width: 100%;
    }


}